{%extends "customer/customer_dashboard2.html"%}

{%block title%}
All Transactions
{%endblock title%}

{% block style %}
#DataTables_Table_1_length{
    display:none;
}
#DataTables_Table_1_filter{
    font-size:12px;
}
#DataTables_Table_1_info{
    font-size:12px;
}
#DataTables_Table_1_paginate{
    font-size:12px;
}
{% endblock style %}


{%block content%}
<!--Large Screens-->
<div class="col-md-9">
    {% if today_orders != 0%}
    <div class='row'>
        <div class='col-12 mt-2'>
            <table class="table table-hover myTable">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Ref Number</th>
                        <th>Date Placed</th>
                        <th>Amount(&#8358;)</th>
                        <th>Order Status</th>
                        <th>Payment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in orders%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{x.ref_no}}</td>
                        <td>{{x.order_date}}</td>
                        <td>{{"{:,.0f}".format(x.order_amount)}}</td>
                        <td>{{x.order_status}}</td>
                        <td>{{x.payment_status}}</td>
                        <td><a href='/user/order/details/{{x.order_id}}' class="btn btn-sm text-light" style="background-color:#704e2e;">Details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class=" row align-items-center " style="min-height:400px;">
        <div class="col-12">
            <h2 class="text-center" style="font-family:'lucida-calligraphy';">No Orders History</h2>
            <p class="text-center"><a href="/user/" class="btn text-light" style="background-color:#704e2e;">Shop</a></p>
        </div>
    </div>
    {% endif %}
</div>
{%endblock content%}

{% block content2 %}
<!--Small screens-->
<div class="row d-md-none" style='background-color:#FFF4C2; min-height:400px'>
    <div class='col-12 mt-3'>
        {% if today_orders != 0%}
        <div class='row'>
            <div class='col-12'>
                <table class="table table-hover myTable" style="font-size:12px">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Date</th>
                            <th>Cost(&#8358;)</th>
                            <th>Charge</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in orders%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{x.order_date}}</td>
                            <td>{{"{:,.0f}".format(x.order_amount)}}</td>
                            <td>{{x.payment_status}}</td>
                            <td><a href='/user/order/details/{{x.order_id}}'>Details</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class=" row align-items-center " style="min-height:400px;">
            <div class="col-12">
                <h2 class="text-center" style="font-family:'lucida-calligraphy';">No Orders History</h2>
                <p class="text-center"><a href="/user/" class="btn text-light" style="background-color:#704e2e;">Shop</a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content2 %}

{%block scripts%}
<script type="text/javascript" language='javascript'>
    $(document).ready(function(){
        $('.myTable').DataTable();
    })
</script>
{%endblock scripts%}