{%extends "userindex.html"%}

{%block title%}
Customer Dashboard
{%endblock title%}

{% block style %}
.bigmenu{
    min-height:400px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.nav-link:hover{
    background-color:#704E2E;
}

.cust_dashboard_links{
    color:#000;
}

.cust_dashboard_links:hover{
    color:white;
}

.info{
    background-color:#704E2E;
}
{% endblock style %}


{%block navigation%}
    <!--Navigation-->
    <div class="row" style="position:sticky; top:0px; z-index:3; background-color:#704e2e;">
        <div class="col-10">
            <h1 style="font-family:'lucida-calligraphy';color:#EBF8A4">Tastebuds</h1>
            <h6 style="font-family:'lucida-calligraphy'; color:#EBF8A4">Hello, {{customer}}</h6>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-sm d-md-none" data-bs-toggle="offcanvas" data-bs-target="#customers_menu">
                <i class="fa-solid fa-bars fa-2x"></i>
            </button>
        </div>
    </div>
{%endblock navigation%}



{%block content%}
<!--Large Screens-->
<div class="row d-none d-md-flex"  style='background-color:#FFF4C2; min-height:500px;'>
    <div class="col-md-3" style='border-right:1px solid black;'>
        <div class="row bigmenu">
            <div class="col">
                <ul class="nav flex-column nav-fill">
                    <li class="nav-item navig mb-1">
                        <a href="/user/myaccount/" class="nav-link cust_dashboard_links">Dashboard</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/today-orders/" class="nav-link cust_dashboard_links">Track Today's Orders</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/all-transactions/" class="nav-link cust_dashboard_links">All Transactions</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/customer/password-settings/" class="nav-link cust_dashboard_links">Password Settings</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/logout/" class="nav-link cust_dashboard_links">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class='row align-items-center' style="min-height:400px; color:#FFF">
            <div class='col-4 offset-1 info py-5'>
                <p class="text-center">NUMBER OF ORDERS</p>
                <p class="text-center" style="font-family:'lucida-calligraphy'; color:#EBF8A4">{{order_numbers}}</p>
            </div>
            <div class='col-5 offset-1 py-5 info'>
                <p class="text-center">FAVORITE RESTAURANT</p>
                <p class="text-center" style="font-family:'lucida-calligraphy'; color:#EBF8A4">{{fav_rest}}</p>
            </div>
            {#<div class='col-3 offset-1 py-5 info'>
                <p class="text-center">The Other Side</p>
            </div>#}
        </div>
    </div>
</div>

<!--Small screens-->
<div class="row d-md-none align-items-center" style='background-color:#FFF4C2; min-height:400px'>
    <div class='col-12 mt-3'>
        <p class="text-center">NUMBER OF ORDERS</p>
        <p class="text-center" style="font-family:'lucida-calligraphy'; color:#F38A20">{{order_numbers}}</p>
    </div>
    <div class='col-12'>
        <p class="text-center">YOUR FAVORITE RESTAURANT</p>
        <p class="text-center" style="font-family:'lucida-calligraphy'; color:#F38A20">{{fav_rest}}</p>
    </div>
    {#<div class='col-12'>
        <p class="text-center"></p>
    </div>#}
</div>
{%endblock content%}







{% block customer_menu %}
<!--Off canvas-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="customers_menu" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h3 id="offcanvasTopLabel" style="font-family:'lucida-calligraphy'; color: #704E2E;">Tastebuds</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col">
                <ul class="nav flex-column nav-fill">
                    <li class="nav-item navig mb-1">
                        <a href="/user/myaccount/" class="nav-link text-dark">Dashboard</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/today-orders/" class="nav-link text-dark">Track Today's Orders</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/all-transactions/" class="nav-link text-dark">All Transactions</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/customer/password-settings/" class="nav-link text-dark">Password Settings</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/logout/" class="nav-link text-dark">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock customer_menu %}



{%block scripts%}
<script type='text/javascript'>
    
</script>
{%endblock scripts%}