{%extends "customer/customer_dashboard2.html"%}

{%block title%}
Password Settings
{%endblock title%}

{% block style %}
#DataTables_Table_1_length{
    display:none;
}
#DataTables_Table_1_filter{
    font-size:12px;
}
{% endblock style %}


{%block content%}
<div class="col-md-9">
    <div class='row'>
        <div class='col-6 offset-3 mt-2'>
            <div>
                <h2>Password Settings</h2>
            </div>
            <div id='feedback'></div>
    
            <form id='customer_password_change'>
                <div class="mb-3">
                    <label for='old_pswd' class='form-label'><b>Old Password</b></label>
                    <input type='password' class='form-control' name='old_pswd' id='old_pswd' required>
                    <p id='oldpasskey' style='font-size:13px; color:red'></p>
                </div>
    
                <div class="mb-3">
                    <label for='new_pswd' class='form-label'><b>New Password</b></label>
                    <input type='password' class='form-control' name='new_pswd' id='new_pswd' required>
                    <p id='newpasskey' style='font-size:13px; color:red'></p>
                </div>
    
                <div class="mb-3">
                    <label for='new_pswd_confirm' class='form-label'><b>Confirm New Password</b></label>
                    <input type='password' class='form-control' name='new_pswd_confirm' id='new_pswd_confirm' required>
                    <p id='confirmnewpasskey' style='font-size:13px; color:red'></p>
                </div>
    
                <div class="mb-3">
                    <input type='hidden' class='form-control' name='csrf_token' id='csrf_token' value='{{csrf_token()}}'>
                </div>
    
                <div class="mb-3">
                    <button type='button' id='btnChangePassword' class='btn btn-success form-control'>Change Password</button>
                </div>
                <div class="mb-3 d-none">
                    <button type='reset' id='btnChangePasswordReset' class='btn btn-danger form-control'>Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock content%}

{% block content2 %}
<!--Small screens-->
<div class="row d-md-none" style='background-color:#FFF4C2; min-height:400px'>
    <div class='col-12 mt-3'>
        <div class='row'>
            <div class='col-12'>
                <div>
                    <h2>Password Settings</h2>
                </div>
                <div id='smallscreen_feedback'></div>
        
                <form id='small_screens_customer_password_change'>
                    <div class="mb-3">
                        <label for='smallscreen_old_pswd' class='form-label'><b>Old Password</b></label>
                        <input type='password' class='form-control' name='smallscreen_old_pswd' id='smallscreen_old_pswd' required>
                        <p id='smallscreen_oldpasskey' style='font-size:13px; color:red'></p>
                    </div>
        
                    <div class="mb-3">
                        <label for='smallscreen_new_pswd' class='form-label'><b>New Password</b></label>
                        <input type='password' class='form-control' name='smallscreen_new_pswd' id='smallscreen_new_pswd' required>
                        <p id='smallscreen_newpasskey' style='font-size:13px; color:red'></p>
                    </div>
        
                    <div class="mb-3">
                        <label for='smallscreen_new_pswd_confirm' class='form-label'><b>Confirm New Password</b></label>
                        <input type='password' class='form-control' name='smallscreen_new_pswd_confirm' id='smallscreen_new_pswd_confirm' required>
                        <p id='smallscreen_confirmnewpasskey' style='font-size:13px; color:red'></p>
                    </div>
        
                    <div class="mb-3">
                        <input type='hidden' class='form-control' name='csrf_token' id='csrf_token' value='{{csrf_token()}}'>
                    </div>
        
                    <div class="mb-3">
                        <button type='button' id='btnSmallScreenChangePassword' class='btn btn-success form-control'>Change Password</button>
                    </div>
                    <div class="mb-3 d-none">
                        <button type='reset' id='btnSmallScreensChangePasswordReset' class='btn btn-danger form-control'>Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock content2%}


{%block scripts%}
<script type="text/javascript" language='javascript'>
    $(document).ready(function(){
        $('.myTable').DataTable();
    })


    //Password Change
    $('#btnChangePassword').click(function(){
        var form = document.getElementById('customer_password_change')
        var formdata= new FormData(form)
        $.ajax({
            url:"/user/pswd_change/",
                data:formdata,
                dataType:"text",
                type:"post",
                cache:false,
                processData:false,
                contentType:false,
                beforeSend:function(){
                    if($('#old_pswd').val()==""){
                        $('#old_pswd').css('border','1px solid red')
                        $('#oldpasskey').text("This field is required")
                    }
                    if($('#new_pswd').val()==""){
                        $('#new_pswd').css('border','1px solid red')
                        $('#newpasskey').text("This field is required")
                    }
                    if($('#new_pswd_confirm').val()==""){
                        $('#new_pswd_confirm').css('border','1px solid red')
                        $('#confirmnewpasskey').text("This field is required")
                    }
                },
                success:function(rsp){
                    if(rsp=="Password Successfully Changed"){
                        $('#feedback').addClass('alert alert-success')
                        $('#feedback').html(rsp)
                        $('#btnChangePasswordReset').click()
                    }
                    else{
                        $('#feedback').addClass('alert alert-danger')
                        $('#feedback').html(rsp)
                    }
                },  
                error:function(msg){
                    console.log(msg)
                }
        })
    })





    $('#btnSmallScreenChangePassword').click(function(){
        var form = document.getElementById('small_screens_customer_password_change')
        var formdata= new FormData(form)
        $.ajax({
            url:"/user/smallscreens_pswd_change/",
                data:formdata,
                dataType:"text",
                type:"post",
                cache:false,
                processData:false,
                contentType:false,
                beforeSend:function(){
                    if($('#smallscreen_old_pswd').val()==""){
                        $('#smallscreen_old_pswd').css('border','1px solid red')
                        $('#smallscreen_oldpasskey').text("This field is required")
                    }
                    if($('#smallscreen_new_pswd').val()==""){
                        $('#smallscreen_new_pswd').css('border','1px solid red')
                        $('#smallscreen_newpasskey').text("This field is required")
                    }
                    if($('#smallscreen_new_pswd_confirm').val()==""){
                        $('#smallscreen_new_pswd_confirm').css('border','1px solid red')
                        $('#smallscreen_confirmnewpasskey').text("This field is required")
                    }
                },
                success:function(rsp){
                    if(rsp=="Password Successfully Changed"){
                        $('#smallscreen_feedback').addClass('alert alert-success')
                        $('#smallscreen_feedback').html(rsp)
                        $('#btnSmallScreensChangePasswordReset').click()
                    }
                    else{
                        $('#smallscreen_feedback').addClass('alert alert-danger')
                        $('#smallscreen_feedback').html(rsp)
                    }
                },  
                error:function(msg){
                    console.log(msg)
                }
        })
    })
</script>
{%endblock scripts%}