{%extends "customer/customer_dashboard2.html"%}

{%block title%}
Track Orders
{%endblock title%}

{% block style %}
{% endblock style %}

{%block content%}
<!--Large Screens-->
<div class="row d-none d-md-flex"  style='background-color:#FFF4C2; min-height:500px;'>
    <div class="col-md-3" style='border-right:1px solid black;'>
        <div class="row bigmenu">
            <div>
                <ul class="nav flex-column nav-fill">
                    <li class="nav-item navig mb-1">
                        <a href="/user/myaccount/" class="nav-link cust_dashboard_links">Dashboard</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/today-orders/" class="nav-link cust_dashboard_links">Track Today's Orders</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/all-transactions/" class="nav-link cust_dashboard_links">All Transactions</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/customer/password-settings/" class="nav-link cust_dashboard_links">Password Settings</a>
                    </li>
                    <li class="nav-item navig mb-1">
                        <a href="/user/logout/" class="nav-link cust_dashboard_links">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        {% if today_orders != 0%}
        <div class='row'>
            <div class='col-12 mt-2'>
                <table class="table table-hover myTable">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Ref Number</th>
                            <th>Date Placed</th>
                            <th>Amount(&#8358;)</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in orders%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{x.ref_no}}</td>
                            <td>{{x.order_date}}</td>
                            <td>{{"{:,.0f}".format(x.order_amount)}}</td>
                            <td>{{x.order_status}}</td>
                            <td><a href='/user/order/details/{{x.order_id}}' class="btn btn-sm text-light" style="background-color:#704e2e;">Details</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class=" row align-items-center " style="min-height:400px;">
            <div class="col-12">
                <h2 class="text-center" style="font-family:'lucida-calligraphy';">No orders placed today</h2>
                <p class="text-center"><a href="/user/" class="btn text-light" style="background-color:#704e2e;">Shop</a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!--Small screens-->
<div class="row d-md-none" style='background-color:#FFF4C2; min-height:400px'>
    <div class='col-12 mt-3'>
        {% if today_orders != 0%}
        <div class='row'>
            <div class='col-12'>
                <table class="table table-striped table-hover"  style="font-size:12px">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Date</th>
                            <th>Amount(&#8358;)</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in orders%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{x.order_date}}</td>
                            <td>{{"{:,.0f}".format(x.order_amount)}}</td>
                            <td>{{x.order_status}}</td>
                            <td><a href='/user/order/details/{{x.order_id}}' class="btn btn-sm text-light" style="background-color:#704e2e;">Info</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class=" row align-items-center " style="min-height:400px;">
            <div class="col-12">
                <h2 class="text-center" style="font-family:'lucida-calligraphy';">No orders placed today</h2>
                <p class="text-center"><a href="/user/" class="btn text-light" style="background-color:#704e2e;">Shop</a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{%endblock content%}


{%block scripts%}
<script type="text/javascript" language='javascript'>
    $(document).ready(function(){
        $('.myTable').DataTable();
    })
</script>
{%endblock scripts%}