{%extends "userindex.html"%}

{%block title%}
TasteBuds - Txn Failed
{%endblock title%}

{%block content%}
<div class="row pt-3 align-items-center"  style='background-color:#FFF4C2'>
    <div class="col-md-6 offset-md-3 pb-3">
        <h2 class="text-center" style="font-family: 'lucida-calligraphy'; color: #704e2e;">Transaction Status</h2><hr><br>
        <p class="text-center"><img class="img-fluid" src="{{url_for('bpuser.static',filename='images/failed2.png')}}" width="350px" height='350px'><p>
            <h4 class="text-center text-danger" style="font-weight:bolder">Transaction Failed!</h4>
    </div>
    <div class="col-md-6 offset-md-3 pb-3">
        <h4 style="font-weight:bolder">Transaction Details</h4>
        <h6>Customer Name: {{customer}}</h6>
        <h6>Transaction Ref: {{trn_ref}}</h6>
        <h6>Transaction Total: {{currency}} {{amount}}</h6>
        <h6>Transaction Date: {{day_of_txn}}</h6>
        <a href="/user/" class='btn text-light form-control' style="background-color:#704e2e;">Home</a>
    </div>
</div>
{%endblock content%}

{%block scripts%}
<script type='text/javascript'>
    
</script>
{%endblock scripts%}